.bg-1
  fill: #ffff8c
.bg-2
  fill: #ffe100
.bg-3
  fill: #ff8c00
.bg-4
  fill: #fa0000
.bg-5
  fill: #820000
.bg-6
  fill: #000000

.map
  height: 100%
  width: 60%
  display: inline-block

.map__svg
  width: 100%
  height: 100%

.micro-region
  cursor: pointer
  transition: all 0.2s ease-in-out
  &:hover
    fill: darkgreen

.micro-region
  stroke: darkgrey
  stroke-width: 500px
  paint-order: stroke
