@import 'base/normalize.scss'
@import 'base/reset.scss'

html, body
  height: 100%
  width: 100%
  min-width: 1000px

.body
  width: 100%
  min-width: 1000px

@import 'modules/map.sass'
@import 'modules/data.sass'
